@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* ------ Estilos del Navbar ------*/

.navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.8rem;
}

.active {
    color: orange;
}

.icons {
    margin: 1rem 0.6rem;
    font-size: 130%;
    transition: 300ms;
}

.inactive {
    color: aliceblue;
}


/* ------ Searching field ------ */

.formSearch {
    margin: 1rem 3rem 1rem 2rem;
}

.search {
    width: 100%;
    border-radius: 0.7rem;
    height: 2.3rem;
    border: none;
    background-color: #29435c;
    color: #ffffff;
    padding-left: 1rem;
    outline: none;
}


/* ----- Movies Container ------*/

hr {
    margin: 1rem 1.6rem;
    border-color: #314f6b;
}

.movieTitle {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    color: aliceblue;
    margin: 1rem 4rem;
}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieSlab {
    border: solid;
    border-color: aliceblue;
    width: 9rem;
    margin: 0.7rem;
}

.img {
    width: 100%;
}


/* ------ Login ------*/

.loginTitle {
    color: orange;
    font-family: 'Nunito', sans-serif;
    font-size: 155%;
    font-weight: 800;
    text-align: center;
    margin-top: 13rem;
}

.loginForm {
    margin: 1rem 4rem;
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.loginLabel {
    margin-left: 1rem;
    transform: translateY(2rem);
    color: #b6b6b6;
}

.loginInput {
    width: 100%;
    border-radius: 0.7rem;
    height: 2.3rem;
    border: none;
    background-color: #29435c;
    outline: none;
}

.loginInputFocus {
    transform: translateY(0rem);
}